.row{
padding: 5%;
}

h1,h2,h3{
    display: inline;
    color: aliceblue;

}

.bi-hammer::before{
  width: 28%;
  color: rgb(255, 0, 0);
}

.btn btn-success{

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-light {

  font-size: small;
 }
 .btn-danger{
   font-size: small;
 }
