.row{
    padding: 20px;

}
div{

    text-align:center;
    color: rgb(253, 253, 253);
    ;
}


#perfilfoto{
       border-radius: 100%;
       width: 100%;
  }

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
  #perfilfoto{


      border-radius: 100%;



  }
}
@media (max-width: 575px){
  #perfilfoto{


      border-radius: 100%;


  }
}

/*etiqueta nombre*/
#nombre{
  font-weight: bold;
  margin-top: 30%;
}

.descripcion{
  display: flex;
  justify-content: center;
  align-items: center;
}
