<div class="container" *ngIf="persona">
<div class="row">
  <div> <button type="button" class="btn btn-success" routerLink="/editaracercade/1" *ngIf="isLogged">
      Editar Persona
    </button></div>

  <div class="row">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} class="img-fluid" id="perfilfoto">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full stack devleloper Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
    <span>
      <h1>Sobre Mi</h1>
      <p>
        {{persona.descripcion}}
      </p>
    </span>
  </div>
</div>
