<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/f1.jpg"class="img-fluid" id="perfilfoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Matias Ezequiel Irusta</p>
        <p>Full stack devleloper Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre Mi</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci labore eveniet iure excepturi ratione rem in vitae sed ex voluptatem cum, porro incidunt quaerat laborum corporis quibusdam debitis similique.
        </p>
        </span>
    </div>
</div>

