<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
           <ul>
               <li>
                    <h1> estudio 1</h1>- <h3>(years)</h3>
               </li>
               <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum exercitationem qui repudiandae quas soluta? Vero vel excepturi labore error omnis perspiciatis asperiores optio rem. Eius ullam optio laudantium libero quibusdam?
               </p>
           </ul>
           <ul>
            <li>
                 <h1>estudio 2</h1>- <h3>(years)</h3>
            </li>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum exercitationem qui repudiandae quas soluta? Vero vel excepturi labore error omnis perspiciatis asperiores optio rem. Eius ullam optio laudantium libero quibusdam?
            </p>
        </ul>
        <ul>
            <li>
                 <h1>estudio 3</h1>- <h3>(years)</h3>
            </li>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum exercitationem qui repudiandae quas soluta? Vero vel excepturi labore error omnis perspiciatis asperiores optio rem. Eius ullam optio laudantium libero quibusdam?
            </p>
        </ul>
    </div>
    </div>