<div class="row">
<h1>Proyectos</h1>
<div class="contenedor">
<div class="col-sm-12 col-md-7 col-lg-7 parte1" >
    <h4>Portafolio Web</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptates provident magni nihil voluptatibus cum qui natus soluta reiciendis dignissimos sed vitae aspernatur, accusamus distinctio, iusto deserunt omnis quod nulla.</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
<img src="../../../assets/APLogo.png" class="img-fluid img-proyecto">
<div>
</div>
</div>