<div class="row" *ngIf="proyecto">
  <h1>Proyecto</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-success" routerLink="/newProyecto" *ngIf="isLogged">
          Agregar Proyecto
      </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Proyecto of proyecto">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" class="card-img-top img-fluid rounded-top">
                  <img src={{Proyecto.img}}  class="img-fluid"  id="fotoPort">
                </div>
                <td>
                      <h1>{{Proyecto.nombre}}</h1>
                  </td>
                  <td><h2>{{Proyecto.descripcion}}</h2></td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-light" routerLink="/editarP/{{Proyecto.id}}">
                        <i class="bi bi-pen-fill"></i> EDITAR</button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                          <i class="bi bi-trash-fill"></i> BORRAR</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>
