<div class="row">
  <h1>Hard And Soft Skills</h1> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
   [imageSrc]="'../assets/html.png'"
   [showImage]="true"
   [showUnits]="false"
   [imageHeight]="80"
   [imageWidth]="80"
   [showSubtitle]="false"
    [percent]="15"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="1000"
       ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
       [imageSrc]="'../assets/CSS.png'"
       [showImage]="true"
       [showUnits]="false"
       [imageHeight]="80"
       [imageWidth]="80"
       [showSubtitle]="false"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="1000"
           ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
           [imageSrc]="'../assets/git.png'"
           [showImage]="true"
           [showUnits]="false"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'BLACK'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="1000"
               ></circle-progress>
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
              <circle-progress
               [imageSrc]="'../assets/js.png'"
               [showImage]="true"
               [showUnits]="false"
               [imageHeight]="80"
               [imageWidth]="80"
               [showSubtitle]="false"
                [percent]="5"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'yellow'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="1000"
                   ></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                  <circle-progress
                   [imageSrc]="'../assets/grupal.png'"
                   [showImage]="true"
                   [showUnits]="false"
                   [imageHeight]="80"
                   [imageWidth]="80"
                   [showSubtitle]="false"
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'yellow'"
                    [innerStrokeColor]="'darkorange'"
                    [animation]="true"
                    [animationDuration]="1000"
                       ></circle-progress>
                    </div>

                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                      <circle-progress
                       [imageSrc]="'../assets/eng.png'"
                       [showImage]="true"
                       [showUnits]="false"
                       [imageHeight]="80"
                       [imageWidth]="80"
                       [showSubtitle]="false"
                        [percent]="50"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'green'"
                        [innerStrokeColor]="'yellow'"
                        [animation]="true"
                        [animationDuration]="1000"
                           ></circle-progress>
                        </div>
</div>